<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Carousel Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  padding-bottom: 15px;
}
.form-container {
  padding-left: 15px;
}
.navbar-brand {
  padding-left: 15px;
}
.logo {
  height: 50px;
  width: 50px;
  float: left;
}
.photo {
  height: 315px;
  width: 300px;
  border-radius: 50%;
  margin-top: 50px;
}
.responsive-img {
  height: 250px;
  width: 400px;
}
.font-style{
  font-style: italic;
}
.header {
  font-size: 3.5rem;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.fa-4x {
    font-size: 4em;
}
.text-center {
    text-align: center !important;
}
.svg-inline--fa {
    width: 1.125em;
}
.icon {
  margin-top: 10px;
}
.responsive {
  width: 100%;
  height: auto;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

    </style>
    <!-- Custom styles for this template -->

  </head>
  <body>
    <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <span><img class="logo" src="/images/graduate.svg" /></span>
    <!-- <svg class="bd-placeholder-img rounded-circle" width="50" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#f4623a"/><text x="50%" y="50%" fill="white" dy=".3em">AA</text></svg> -->
    <a class="navbar-brand" href="#">My Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sevices">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main">

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#f4623a"/></svg>
      <div class="container">
        <div class="carousel-caption">
        <span class="header">Welcome!</span>
          <p class="font-style">"I Make things look good and my portfolio is a representation of all that I've learned and accomplished as a computer science and engineering student."</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="black"/></svg>
      <div class="container">
        <div class="carousel-caption">
          <span class="header">Tech home.</span>
          <p class="font-style">"It is dedicated to all the aspirants to understand the projects to light their career, using the programming techniques and easy method of understanding the techniques in simple and easy way."</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="green"/></svg>
      <div class="container">
        <div class="carousel-caption">
          <span class="header">Good measure.</span>
          <p class="font-style">"You'll be the first to hear about our collections of projects, special coding techniques and special offers on upcoming days."</p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->


    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div id="about" class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Abhilash Pagidimarry</h2>
        <p class="lead">My Name is Abhilash Pagidimarry, I was born and brought up in Hyderabad (India). I have worked with Sutherland Healthcare Solutions for 4.2 years. I like learning new things and upgrading myself. My hobbies are watching cricket, listening music and surfing on internet about new gadgets and technology.</p>
        <p><a href="http://www.yourfilehostingservice.com/yourresume.pdf" rel="nofollow noopener">Download Resume</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="photo" src="/images/photo.jpg" alt="triangle with equal sides"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div id="projects" class="">
      <h2 class="featurette-heading">My Projects</h2>
    <div class="row featurette">
      <div class="col-md-7">
        <h3> Sutherland Global Services.<h3>
            <p class="lead">Sutherland Global Services Inc. operates as a digital transformation company. The Company rethinks and rebuilds processes for the digital age by combining the speed and insight of design thinking with the scale and accuracy of data analytics.</p>
          <h4>Roles:</h4>
          <ul class="lead">
            <li>Create content marketing campaigns to drive leads and subscribers Use SEO best practices to generate traffic to our site.</li>
            <li>Regularly produce various content types, including email, social media posts, blogs and white papers.</li>
            <li>Actively manage and promote our blog, and pitch articles to relevant third-party platforms. </li>
            <li>Edit content produced by other members of the team Analyze content marketing metrics and makes changes as needed Collaborate with other departments to create innovative content ideas.</li>
         </ul>
        <p class="lead"></p>
      </div>
      <div class="col-md-5">
        <img src="/images/sutherland-global-services-vector-logo.png" alt="Nature" class="responsive" width="600" height="400">
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h3>Smart-Rev Hospitals.<h3>
          <p class="lead">Smart hospitals allow the creation of hybrid spaces that serve both for consultation and to examine patients. A good way to optimize space usage and reduce waiting time. Not only with the consulting rooms but also the examination rooms can be reused as consultation rooms to communicate with the patient.</p>
      <h4>Roles:</h4>
         <ul class="lead">
           <li>Providing the access to the users in the Smartrev Hospital and Physician applications.</li>
           <li>Providing access in Move IT applications so that clients can share the data in the individual folders.</li>
           <li>Generated Tableau reports with Trend lines.</li>
        </ul>
    </div>
  <div class="col-md-5">
    <img src="/images/smarthospitals.png" alt="Nature" class="responsive" width="600" height="400">
  </div>
</div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h3>Progressive Digital Media.<h3>
        <p class="lead">This Project is to support the service delivery team to provide access for the users and explaining the team how to use the applications. And upgrading the applications on the requirement.</p>
      <h4>Roles:</h4>
      <ul class="lead">
        <li>Pull the required data from different tables by writing the complex SQL queries restricting the data to Apparel and a particular season.</li>
        <li>Arrange the data in hierarchal order to make it easy to analyze.</li>
        <li>Generate a visualization report using the Tableau and SQL queries.</li>
     </ul>
    </div>
  <div class="col-md-5">
    <img src="/images/progressive.jpg" alt="Nature" class="responsive" width="600" height="400">
  </div>
</div>

    <hr class="featurette-divider">

    <div id="sevices" class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Services</h2>
        <h3>Responsive Web Design</h3>
          <p class="lead">With over 50% of all web traffic coming from a mobile device, creating a mobile-friendly website is no longer an option—it’s a necessity. It all starts with responsive web design.
          Responsive web design allows your website to adapt to and provide an optimal experience on any device it’s being viewed from. This means that your website will look great and function flawlessly for a user on a desktop computer, laptop, tablet, or smartphone.
          Every website developed by Mainstreethost utilizes responsive web design, adapting perfectly to each device users are accessing it from.</p>
          <ul class="lead">
            <li>Mobile-friendly</li>
            <li>Design for every device</li>
            <li>Positive UX</li>
            <li>Helps SEO</li>
          </ul>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="responsive-img"src="/images/responsive.jpg" alt="triangle with equal sides"/>
      </div>
    </div>
    <div class="container">
      <h2 class="text-center mt-0">At Your Service</h2>
      <hr class="divider my-4">
      <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <svg class="svg-inline--fa fa-gem fa-w-18 fa-4x text-primary mb-4" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="gem" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="#f4623a" d="M485.5 0L576 160H474.9L405.7 0h79.8zm-128 0l69.2 160H149.3L218.5 0h139zm-267 0h79.8l-69.2 160H0L90.5 0zM0 192h100.7l123 251.7c1.5 3.1-2.7 5.9-5 3.3L0 192zm148.2 0h279.6l-137 318.2c-1 2.4-4.5 2.4-5.5 0L148.2 192zm204.1 251.7l123-251.7H576L357.3 446.9c-2.3 2.7-6.5-.1-5-3.2z"></path></svg><!-- <i class="fas fa-4x fa-gem text-primary mb-4"></i> -->
                  <h3 class="h4 mb-2">Sturdy Themes</h3>
                  <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <svg class="svg-inline--fa fa-laptop-code fa-w-20 fa-4x text-primary mb-4" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="laptop-code" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="#f4623a" d="M255.03 261.65c6.25 6.25 16.38 6.25 22.63 0l11.31-11.31c6.25-6.25 6.25-16.38 0-22.63L253.25 192l35.71-35.72c6.25-6.25 6.25-16.38 0-22.63l-11.31-11.31c-6.25-6.25-16.38-6.25-22.63 0l-58.34 58.34c-6.25 6.25-6.25 16.38 0 22.63l58.35 58.34zm96.01-11.3l11.31 11.31c6.25 6.25 16.38 6.25 22.63 0l58.34-58.34c6.25-6.25 6.25-16.38 0-22.63l-58.34-58.34c-6.25-6.25-16.38-6.25-22.63 0l-11.31 11.31c-6.25 6.25-6.25 16.38 0 22.63L386.75 192l-35.71 35.72c-6.25 6.25-6.25 16.38 0 22.63zM624 416H381.54c-.74 19.81-14.71 32-32.74 32H288c-18.69 0-33.02-17.47-32.77-32H16c-8.8 0-16 7.2-16 16v16c0 35.2 28.8 64 64 64h512c35.2 0 64-28.8 64-64v-16c0-8.8-7.2-16-16-16zM576 48c0-26.4-21.6-48-48-48H112C85.6 0 64 21.6 64 48v336h512V48zm-64 272H128V64h384v256z"></path></svg><!-- <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i> -->
                  <h3 class="h4 mb-2 icon">Up to Date</h3>
                  <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <svg class="svg-inline--fa fa-globe fa-w-16 fa-4x text-primary mb-4" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" data-fa-i2svg=""><path fill="#f4623a" d="M336.5 160C322 70.7 287.8 8 248 8s-74 62.7-88.5 152h177zM152 256c0 22.2 1.2 43.5 3.3 64h185.3c2.1-20.5 3.3-41.8 3.3-64s-1.2-43.5-3.3-64H155.3c-2.1 20.5-3.3 41.8-3.3 64zm324.7-96c-28.6-67.9-86.5-120.4-158-141.6 24.4 33.8 41.2 84.7 50 141.6h108zM177.2 18.4C105.8 39.6 47.8 92.1 19.3 160h108c8.7-56.9 25.5-107.8 49.9-141.6zM487.4 192H372.7c2.1 21 3.3 42.5 3.3 64s-1.2 43-3.3 64h114.6c5.5-20.5 8.6-41.8 8.6-64s-3.1-43.5-8.5-64zM120 256c0-21.5 1.2-43 3.3-64H8.6C3.2 212.5 0 233.8 0 256s3.2 43.5 8.6 64h114.6c-2-21-3.2-42.5-3.2-64zm39.5 96c14.5 89.3 48.7 152 88.5 152s74-62.7 88.5-152h-177zm159.3 141.6c71.4-21.2 129.4-73.7 158-141.6h-108c-8.8 56.9-25.6 107.8-50 141.6zM19.3 352c28.6 67.9 86.5 120.4 158 141.6-24.4-33.8-41.2-84.7-50-141.6h-108z"></path></svg><!-- <i class="fas fa-4x fa-globe text-primary mb-4"></i> -->
                  <h3 class="h4 mb-2">Ready to Publish</h3>
                  <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <svg class="svg-inline--fa fa-heart fa-w-16 fa-4x text-primary mb-4" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="#f4623a" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg><!-- <i class="fas fa-4x fa-heart text-primary mb-4"></i> -->
                  <h3 class="h4 mb-2">Made with Love</h3>
                  <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
              </div>
          </div>
      </div>
    </div>
    <hr class="featurette-divider">


<div id="contact">
    <%- include('./contact'); %>
</div>



    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <!-- <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->
</html>
